<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/jd/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/jd/jdsales.css" rel="stylesheet">
</head>
<style>
</style>
<body>
<div class="container">
    <div class="card card-container">
        <form class="form-signin" id="form1">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <input id="date" class="form-control" placeholder="Date" type="date" required>
                </div>
                <div class="col-md-4">
                    <input id="place" class="form-control" placeholder="Place" type="text" required>
                </div>
                <div class="col-md-4">
                    <select id="open" class="form-control" required>
                        <option>Open</option>
                        <option>Pack</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <input id="bill" class="form-control" placeholder="Bill Number" type="number" required>
                </div>
                <div class="col-md-4">
                    <input id="bale" class="form-control" placeholder="Bale Number" type="number" required>
                </div>
                <div class="col-md-4">
                    <input id="party" class="form-control" placeholder="Party Name" type="text" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <input id="party_quality" class="form-control" placeholder="Party Quality Name" type="text" required>
                </div>
                <div class="col-md-4">
                    <input id="our_quality" class="form-control" placeholder="Our Quality Name" type="text" required>
                </div>
                <div class="col-md-4">
                    <input id="hsn" class="form-control" placeholder="HSN Code" type="text" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <input id="taka" class="form-control" placeholder="Number of Taka" type="number" required>
                </div>
                <div class="col-md-4">
                    <input id="mts" class="form-control" placeholder="Total Metres" type="text" required>
                </div>
                <div class="col-md-4">
                    <input id="shortage" class="form-control" placeholder="Shortage" type="text" required>
                </div>
            </div>
            <br>
            {#                <div class="row">#}
            {#                <div class="col-md-4"></div>#}
            {#                <div class="col-md-4">#}
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Add Purchase Entry</button>
            {#                </div>#}
            {#                    </div>#}
        </form>
    </div>
</div>
<script src="../../static/jd/assets/vendor/jquery/jquery.min.js"></script>
<script src="../../static/jd/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>