<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/jd/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/jd/jdsales.css" rel="stylesheet">
</head>
<style>
</style>
<body>
<div class="container">
    <div class="card card-container">
        <form class="form-signin" id="form1">
            <div class="row">
                <div class="col-md-4">
                    <input id="bill" class="form-control" placeholder="Bill Number" type="number" required>
                </div>
                <div class="col-md-4">
                    <input id="bale" class="form-control" placeholder="Bale Number" type="number" required>
                </div>
                <div class="col-md-4">
                    <input id="party" class="form-control" placeholder="Party Name" type="text" required>
                </div>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">View Entry</button>
        </form>
    </div>
</div>
<script src="../../static/jd/assets/vendor/jquery/jquery.min.js"></script>
<script src="../../static/jd/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>