<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../static/jd/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/jd/jdpurchase.css" rel="stylesheet">
</head>
<style>
</style>
<body>
<div class="container" style="padding-top: 50px;" id="sale-header">
    <div class="row">
        <div class="col-md-2">
            <button onclick="addSale()" class="btn btn-primary" style="width: 100%">Add Sale</button>
        </div>
        <div class="col-md-2">
            <button onclick="editSale()" class="btn btn-success" style="width: 100%">Edit Sale</button>
        </div>
        <div class="col-md-2">
            <button onclick="deleteSale()" class="btn btn-danger" style="width: 100%">Delete Sale</button>
        </div>
    </div>
</div>

<div class="container" id="salesPage">

</div>

<div class="card card-container container" id="popupEditFormSale">
    <form class="form-signin" id="popupForm">
        <button onclick="closePopup(this.id)" id="close" style="float: right;width: 5%;">X</button>
        <br>
        <h6 style="font-family: sans-serif;text-transform: uppercase;padding-left: 5px;">DETAILS OF SELECTED ENTRY</h6>
        <div class="row">
            <div class="col-md-3">
                <input id="date_edit_popup" class="form-control" placeholder="Date" type="date" required>
            </div>
            <div class="col-md-3">
                <input id="party_edit_popup" class="form-control" placeholder="Party Name" type="text"
                       oninput="this.value = this.value.toUpperCase()" required>
            </div>
        </div>
        <hr style="margin-left: -24px;margin-right: -24px;">
        <div class="row">
            <div class="col-md-3">
                <input id="bale_edit_popup" onchange="baleProdMappingEdit2()" class="form-control"
                       placeholder="Bale Number" type="number" required>
            </div>
            <div class="col-md-3">
                <select id="our_quality_edit_popup" class="form-control" required>
                </select>
            </div>
            <div class="col-md-2">
                <input id="design_edit_popup" class="form-control" placeholder="Design"
                       oninput="this.value = this.value.toUpperCase()" type="text">
            </div>
            <div class="col-md-2">
                <input id="taka_edit_popup" class="form-control" placeholder="Taka"
                       oninput="this.value = this.value.toUpperCase()" type="number" required>
            </div>
            <div class="col-md-2">
                <input id="mts_edit_popup" class="form-control" placeholder="Metres"
                       oninput="this.value = this.value.toUpperCase()" type="text" required>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" id="editPopupSubmit" type="submit">Edit Entry
        </button>
    </form>
</div>

<script src="../../static/jd/assets/vendor/jquery/jquery.min.js"></script>
<script src="../../static/jd/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{#<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>#}

<script src="../../static/jd/jdsales.js"></script>
</body>


</html>